.vaccineRecordsPageContainer {
  display: flex;
}

.leftPanel, .rightPanel {
  background-color: #C3E5CC;
  padding: 2rem;
}

.leftPanel {
  width: 70%;
}
.rightPanel {
  width: 30%;
}

.recordsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .recordsTable th, .recordsTable td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .vaccineFilter label {
    display: block;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }

  .formBox{
    padding: 1rem;
  }

  .box {
    background-color: #F7F7F7; 
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 1rem;
  }

  .box ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 2rem; /* Space between columns */
    padding-left: 2rem;
  }

  .title {
    color: #07621d; 
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Knewave', cursive; 
  }
  