/* Account.module.css */

.accountContainer {
    padding: 3rem 9rem;
    background-color: #C3E5CC; 
  }
  

.infoCard {
  background-color: #F7F7F7;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  color: #4caf50;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 3rem;
}

.buttonsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
}
  
  /* Pet List Section */
  .petList {
    display: flex;
    flex-direction: column;
  }
  
  .dailyUpdateButton,
  .vaccinationCheckButton,
  .addPetButton {
    background-color: #66BF7B;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .addPetButton {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  