/* Header.css */

.header {
    max-width: 1950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5; 
    color: black;
    padding: 0 3rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 9rem;
    margin-right: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  .auth-buttons .btn-primary,
  .auth-buttons .btn-secondary {
    margin-left: 10px;
  }
  