/* Home.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  /* Hero Section */
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-repeat: no-repeat;
    background-image: url(src/assets/hero3.png);
    background-size: contain;
    background-position: center;
    padding: 3.7rem 8rem;
    background-color: #def4e7; /* Light green */
  }
  
  .hero-text {
    background-color: #204e2a;
    padding: 2rem;
    border-radius: 3rem;
    opacity: 85%;
  }

  .white-text {
    color: white;
  }

  .buttons-center{
    display: flex;
    justify-content: center;
    gap: 10px;
    
  }
  .hero-text h1 {
    font-size: 3rem;
    color: #4caf50; /* Green for the main headline */
  }
  
  .btn-primary, .btn-secondary {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #66BF7B;
    border: 2px solid #2b6a3a;
    color: white;
  }
  
  .btn-secondary {
    background-color: white;
    border: 2px solid #66BF7B;
    color: #2b6a3a;
  }
  
  .hero-image {
    width: 40%;
    border-radius: 15px;
  }
  
  /* Why Choose Us Section */
  .why-choose-us {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .feature {
    width: 20%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .feature img {
    max-width: 17.6rem;
  }
  
  /* Welcome Section */
  .features-section {
    padding: 50px;
    text-align: center;
    background-color: #ededed; 
  }
  
  .features-section .pet-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .features-section .pet-images img {
    width: 150px;
    border-radius: 10px;
  }
  
 .tutorial-section {
    display: flex;
    justify-content: space-around;
    padding: 2rem 5rem;
    background-color: #C3E5CC;
 }

 .video {
    margin-left: 1rem;
 }

 .video img {
    max-height: 25rem;
 }

 h2 {
    font-size: 2.3rem;
    margin-top: 0;
    color: #204e2a;
 }

 .tutorial-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4rem 1rem;
 }