/* Header.css */

.header {
    max-width: 1950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5; 
    color: black;
    padding: 0 3rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 9rem;
    margin-right: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  .authButtons .btnPrimary,
  .authButtons .btnSecondary {
    margin-left: 10px;
  }

  .btnPrimary {
    background-color: #66BF7B;
    /* border: 2px solid #2b6a3a; */
    color: white;
  }

  .btnPrimary:hover {
    background-color: #5aad6d; 
  }
  
  .btnSecondary {
    background-color: white;
    border: 2px solid #66BF7B;
    color: #2b6a3a;
  }

  nav ul li .active {
    color: #66BF7B; 
    font-weight: bold;
    border-bottom: 2px solid #66BF7B;
    padding-bottom: 4px;
}


nav ul li a {
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
  